*
  box-sizing: border-box

body
  +reg
.container
  width: 1170px
  margin: auto
@media (max-width: 1200px)
  .container
    width: 760px
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 95%
/*   .section
    padding-top: 60px
    padding-bottom: 60px */
@media (max-width: 567px)
  .container
    max-width: 400px
    width: 90%
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 18px 30px
  +bold
  &:hover
    cursor: pointer
    background-color: lighten($main-color, 25%)
    outline: none 
  &:focus
    outline: none 
  
.section
  &-title 
    font-size: 30px
    +bold
    text-align: center
    line-height: 45px
  &-subtitle
    font-size: 20px
    display: block
.input
  border-radius: 10px
  border: 1px solid $border-input
  font-size: 15px
  line-height: 24px
  padding: 20px
  &:focus
    border: 1px solid $main-color
    outline: none
.arrows
  &__left, &__right
    &:hover
      cursor: pointer
.invalid
  border: 1px solid red
#username-error, #phone-error, #email-error
  border: none



