.brif
  background-image: url(../img/brif/brif-bg-color.png), url(../img/brif/brif-bg.jpg)
  background-position: left center, center right
  background-size: 50%, contain
  background-repeat: repeat-y, no-repeat
  &-block
    display: flex
  &__interview
    flex-basis: 50%
  &__form
    flex-basis: 50%
    padding-left: 213px
    padding-top: 103px
    text-align: center
  &__input
    width: 100%
    max-width: 370px
    margin-bottom: 15px
  &__button
    display: block
    height: 70px
    width: 100%
    max-width: 370px
    margin-top: 15px
    margin-bottom: 33px
.interview
  &__title
    font-size: 22px
    line-height: 33px
    +bold
    margin-bottom: 50px
    padding-top: 106px
    margin-top: 0
  &__subtitle
    font-size: 16px
    display: block
    margin-bottom: 94px
  &-list 
    list-style: none
    padding: 0
    margin-bottom: 0
    padding-bottom: 75px
    +bold
    &__item
      display: flex
      align-items: center
      margin-bottom: 25px
    &__text
      max-width: 380px
      font-size: 18px
    &__counter
      width: 35px
      height: 35px
      font-size: 14px
      border: 2px solid $text-color
      display: inline-block
      margin-right: 30px
      border-radius: 50%
      text-align: center
      line-height: 35px
.form
  &__title
    font-size: 22px
    line-height: 33px
    margin-bottom: 52px
    margin-top: 0
    +bold
  &__subtitle
    font-size: 16px
    display: block
    margin-bottom: 49px
  &__description
    font-size: 15px

@media (max-width: 1200px)
  .interview
    &__title
      


      
      


